name: Deploy to backend 

on:
 push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    environment: backend
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.JAMALTOKEN}}
          

      - name: Build Docker image   
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true  
          tags: ghcr.io/jamaltaffal/jamal-backend:latest

  deploy:
    runs-on: self-hosted
    needs: build 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set KUBECONFIG
        run: |
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          kubectl config view

      - name: Rollout Restart Frontend
        run: |
         kubectl rollout restart deployment/frontend -n jamal

      - name: Rollout Restart Backend
        run: |
         kubectl rollout restart deployment/backend -n jamal
