name: Deploy to backend 

on:
 push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    environment: backend
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.JAMALTOKEN}}
          

      - name: Build Docker image   
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true  
          tags: ghcr.io/jamaltaffal/backend:latest

  deploy:
   runs-on: ubuntu-latest
   needs: build
   steps:
    - name: Checkout repository
      uses: actions/checkout@v3
  
    - name: Deploy to backend environment
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_IP }}
        username: root
        key: ${{ secrets.JAMALSECRETS }}
        script: |
            cd /root/JamalTaffal
            
            echo '${{ secrets.JAMALTOKEN }}' | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            docker compose down jamal-backend || true
            
            docker compose up -d jamal-backend || true
