name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.28.0'

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Deploy Postgres
        run: |
          kubectl apply -f postgres/secrets.yaml
          kubectl apply -f postgres/configmap.yaml
          kubectl apply -f postgres/pvc.yaml
          kubectl apply -f postgres/deployment.yaml
          kubectl apply -f postgres/service.yaml

      - name: Deploy Backend
        run: |
          kubectl apply -f backend/deployment.yaml
          kubectl apply -f backend/service.yaml
